.DS_Store

# Package artifacts
__pycache__
build
sdist
.installed.cfg
# uv
.venv

# Unit test / coverage reports
.coverage
.pytest_cache
.tox

# is a symlink to root direcotry dice.py TODO: make this a proper package
experiements/dice.py
