.DS_Store

# Packages
*.py[co]
*.egg
*.egg-info
dist
build
eggs
sdist
develop-eggs
.installed.cfg
.venv

# is a symlink to root direcotry dice.py TODO: make this a proper package
experiements/dice.py

# Unit test / coverage reports
.coverage
.tox
